<h1>About</h1>
<div class="w3-panel w3-yellow">
  <p>This application was made by myself Dustin Timmons using CSS and other methods to create a application
  for you the user to Navigate through and look at my content.</p>
</div> 
<ul>
<%= link_to 'Help', my_pages_help_path,class:"w3-button w3-yellow " %>
<%= link_to 'New Micropost', new_micropost_path,class:"w3-button w3-yellow " %>
<%= link_to 'Home', my_pages_home_path,class:"w3-button w3-yellow " %>

</ul>