<h1>Help</h1>

<div class="w3-panel w3-yellow">
  <p>In this application you will notice multiple buttons to click on to help you navigate through my application.</p>
</div> 
<div class="w3-panel w3-yellow">
  <p>When going through the application use the buttons or links to navigate through the application. If you have trouble doing so 
  go to the Home page and start over.</p>
</div> 
<ul>
<%= link_to 'New Micropost', new_micropost_path,class:"w3-button w3-yellow " %>
<%= link_to 'About', my_pages_about_path,class:"w3-button w3-yellow " %>
<%= link_to 'Home', my_pages_home_path,class:"w3-button w3-yellow " %>
</ul>