<h1>Home</h1>

<div class="w3-panel w3-yellow">
  <p>WELCOME!!
  This is an application made with:</p>
  <img src="https://community-cdn-digitalocean-com.global.ssl.fastly.net/assets/tutorials/images/large/RubyonRails_tw_mostove.png?1468952973" alt="some_text" style="width:width;height:height;">
  <p>At the Home page you will find a number of buttons and links to choose from. Once you are ready to move on make a selection 
  on the home page in oreder to move on to the next page.</p>
</div> 
<ul>
<%= link_to 'New Micropost', new_micropost_path,class:"w3-button w3-yellow " %>
<%= link_to 'About', my_pages_about_path,class:"w3-button w3-yellow " %>
<%= link_to 'Help', my_pages_help_path,class:"w3-button w3-yellow " %>
</ul>